


/* Ajoutez ceci dans votre fichier CSS global ou dans le fichier spécifique à Header.jsx */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: goldenrod;
}

nav ul {
  display: flex;
  gap: 20px; /* Espacement entre les éléments du menu */
}

nav ul li {
  list-style: none; /* Enlever les puces */
}

nav ul li a {
  color: white; /* Couleur du texte */
  text-decoration: none; /* Enlever le soulignement */
  font-weight: bold;
}

nav ul li a:hover {
  color: #ff4500; /* Changer la couleur au survol */
}

/* src/styles/globals.css */
.homePageBackground {
  background-image: url('/images/image1.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  padding: 20px;
}

/* src/styles/home.module.css */
.homePageBackground {
  background-image: url('/images/image1.webp');
  background-size: cover;
  background-position: center;
  height: 100vh; /* La page couvrira toute la hauteur de l'écran */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer verticalement le contenu */
  align-items: center; /* Centrer horizontalement le contenu */
  padding: 20px; /* Ajoutez du padding si nécessaire */
}
